<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Stabilization.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Stabilization.Properties.Settings>
            <setting name="PortName" serializeAs="String">
                <value>COM9</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="Kp" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Kpd" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Ki" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Kid" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Kd" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Kdd" serializeAs="String">
                <value>0</value>
            </setting>
        </Stabilization.Properties.Settings>
    </userSettings>
</configuration>